@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

:root {
  --dark-green: #2d6758;
  --dark-gray: #7c7c7c;
  --medium-green: #62bc97;
  --medium-gray: #7c847c;
  --light-green: #c9e2db;
  --light-gray: #bcbcbc;
  --white: #fbfbfb;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  list-style-type: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

a,
a:visited {
  color: inherit;
}

body {
  height: 100dvh;
  width: 100dvw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, max-content) 1fr max-content;
}

#cabecalho {
  background-color: var(--dark-green);
  color: var(--white);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 0.4rem 1rem;
  text-transform: uppercase;
  text-align: center;
}

#logo {
  display: grid;
  place-content: center;
}

#logo__img {
  height: 5rem;
}

#wrapper {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

#titulo {
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline;
  margin: 1rem auto;
}

#wrapper section {
  height: 100%;
  padding: 0.5rem 1rem;
}

#wrapper section:nth-child(odd) {
  background-color: var(--medium-green);
  color: var(--white);
}

#rodape {
  background-color: var(--dark-green);
  color: var(--white);
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 0.4rem 1rem;
  text-transform: uppercase;
  text-align: center;
}
